---
#
# Process terraform templates for all components to setup for terraform
# processing
#

- include_tasks: terraform-setup-template.yml
  with_items:
  - network
  - controller
  - service-accounts
  - registry-storage
  - masters
  - image-node
  - router
  - public-load-balancer
  loop_control:
    loop_var: component_name
  vars:
    terraform_template: "{{ component_name }}"
    terraform_template_dir: "{{ terraform_dir }}/{{ component_name }}"
  when: >-
    component_name in terraform_components

- include_tasks: terraform-setup-template.yml
  with_dict: "{{ openshift_provision_node_groups }}"
  loop_control:
    loop_var: node_group_item
  vars:
    component_name: node-group-{{ node_group_name }}
    node_group: "{{ node_group_item.value }}"
    node_group_name: "{{ node_group_item.key }}"
    node_group_gcp: >-
      {{ node_group.gcp | default({}) }}
    boot_disk_size_gb: >-
      {{ node_group_gcp.boot_disk_size_gb
       | default(image_node_boot_disk_size_gb)
      }}
    boot_disk_type: >-
      {{ node_group_gcp.boot_disk_type
       | default(image_node_boot_disk_type)
      }}
    # Templates are immutable, so we must create a new template on each change
    instance_template_name: >-
      {{ openshift_gcp_prefix
       ~ node_group_name ~ '-'
       ~ ansible_date_time.year
       ~ ansible_date_time.month
       ~ ansible_date_time.day
       ~ ansible_date_time.hour
       ~ ansible_date_time.minute
       ~ ansible_date_time.second
      }}
    kube_reserved_cpu: >-
      {{ node_group_gcp.kube_reserved_cpu
       | default(openshift_provision_node_kube_reserved_cpu)
      }}
    kube_reserved_memory: >-
      {{ node_group_gcp.kube_reserved_memory
       | default(openshift_provision_node_kube_reserved_memory)
      }}
    machine_type: >-
      {{ node_group_gcp.machine_type
       | default(image_node_machine_type)
      }}
    terraform_template: node-group
    terraform_template_dir: "{{ terraform_dir }}/{{ component_name }}"
  when:
  - not node_group.static_node_group|default(false)|bool
  - >-
    'node-group-' ~ node_group_name in terraform_components or
    'node-groups' in terraform_components
