---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  annotations:
    openshift-provision/action: patch
  name: registry-console
spec:
  template:
    spec:
      containers:
      - name: registry-console
        env:
        - name: OPENSHIFT_OAUTH_PROVIDER_URL
          value: https://{{ openshift_master_cluster_public_hostname }}:443
        - name: REGISTRY_HOST
          value: {{ openshift_hosted_registry_routehost }}
        volumeMounts:
        - mountPath: /etc/cockpit/ws-certs.d
          name: registry-console-cert
      volumes:
      - name: registry-console-cert
        secret:
          defaultMode: 0644
          secretName: registry-console-cert
