# Google service account credentials used to provision cluster resources
export GOOGLE_APPLICATION_CREDENTIALS=/path/to/credentials.json

# Indicate that inventory should give NAT ip for instances rather than internal
# IP addresses
#export GCP_ANSIBLE_INVENTORY_USE_NAT_IP=true

# Path to cluster configuration hierarchy
export OPENSHIFT_CONFIG_LOCATION=${PWD}/config

# Credentials used to register systems with subscriptions for software
# installation and updates
export REDHAT_SUBSCRIPTION_USERNAME=...
export REDHAT_SUBSCRIPTION_PASSWORD=...
export REDHAT_SUBSCRIPTION_POOLS=...

# Credentials for retrieving images from registry.redhat.io
export OREG_AUTH_USER=...
export OREG_AUTH_PASSWORD=...
