---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster
  labels:
    openshift-provision.gnuthought.com/config: "true"
data:
  check_mode: "true"
  config_path: |-
    config/cluster/{{ openshift_provision_cluster_vars.cluster_name }}/vars/main.yml
    config/default/vars/main.yml
  git_url: >-
    http://{{ openshift_provision_cluster_vars.controller_hostname }}/root/openshift-provision-demo.git
  service_account: cluster
  webhook_secret: cluster-webhook
