---
apiVersion: v1
kind: ConfigMap
metadata:
  name: example-one
  labels:
    openshift-provision.gnuthought.com/config: "true"
data:
  git_uri: http://{{ openshift_provision_cluster_vars.controller_hostname }}/root/openshift-provision-demo.git
  check_mode: "true"
  config_path: example-apps/example-one/provision.yaml
  service_account: example-one
  webhook_secret: example-one-api
