---
apiVersion: v1
kind: Route
metadata:
  annotations:
    haproxy.router.openshift.io/balance: source
    openshift-provision/action: patch
  name: docker-registry
spec:
  host: {{ openshift_hosted_registry_routehost }}
  tls:
    termination: reencrypt
