{% set t_master_count = openshift_provision_node_groups.master.instance_count %}

{% if openshift_provision_deploy_controller | bool %}
variable "openshift_provision_controller_ssh_pubkey" {
  description = "SSH public key for access to nodes"
}
{% endif %}

terraform {
  backend "gcs" {
    bucket  = "{{ openshift_gcp_prefix }}terraform-state"
    prefix  = "masters"
  }
}

provider "google" {
  project = "{{ openshift_gcp_project }}"
  region = "{{ openshift_gcp_region }}"
}

data "google_compute_subnetwork" "{{ openshift_gcp_subnetwork_name }}" {
  name   = "{{ openshift_gcp_subnetwork_name }}"
  project = "{{ openshift_gcp_network_project }}"
}

data "google_service_account" "{{ openshift_gcp_master_service_account }}" {
  account_id = "{{ openshift_gcp_master_service_account }}"
}

data "google_dns_managed_zone" "{{ cluster_name }}" {
  name = "{{ cluster_name }}"
}

{% for n in range(t_master_count|int) %}
{%   set t_master_name = openshift_gcp_prefix ~ 'master-' ~ n %}
{%   set t_master_zone = openshift_gcp_zones[ n % openshift_gcp_zones|length ] %}

resource "google_compute_disk" "{{ t_master_name }}-docker-vg" {
  name = "{{ t_master_name }}-docker-vg"
  project = "{{ openshift_gcp_project }}"
  type = "{{ openshift_gcp_master_docker_vg_disk_type }}"
  size = "{{ openshift_gcp_master_docker_vg_disk_size_gb }}"
  zone = "{{ t_master_zone }}"
}

resource "google_compute_instance" "{{ t_master_name }}" {
  name = "{{ t_master_name }}"
  machine_type = "{{ openshift_gcp_master_machine_type }}"
  project = "{{ openshift_gcp_project }}"
  zone = "{{ t_master_zone }}"

  tags = ["{{ openshift_gcp_prefix }}node", "{{ openshift_gcp_prefix }}node-master"]

  boot_disk {
    initialize_params {
      image = "{{ openshift_gcp_master_boot_disk_image }}"
      size = "{{ openshift_gcp_master_boot_disk_size_gb }}"
    }
  }

  attached_disk {
    source = "${google_compute_disk.{{ t_master_name }}-docker-vg.self_link}"
    device_name = "docker-vg"
  }

  network_interface {
    subnetwork = "${data.google_compute_subnetwork.{{ openshift_gcp_subnetwork_name }}.self_link}"
    subnetwork_project = "{{ openshift_gcp_project }}"
    access_config {
      // Ephemeral IP
    }
  }

  labels = {
    openshift-cluster = "{{ cluster_name }}"
    openshift-node-group-name = "master"
  }

  metadata {
    ansible-host-group-masters = "true"
    ansible-host-group-nodes = "true"
{% if ansible_user_ssh_pubkey | bool %}
    sshKeys = "{{ansible_user}}:{{ansible_user_ssh_pubkey}} {{ansible_user}}"
{% endif %}
  }

  service_account {
    email = "${data.google_service_account.{{ openshift_gcp_master_service_account }}.email}"
    scopes = ["cloud-platform"]
  }
}
{% endfor %}

resource "google_compute_health_check" "{{ openshift_gcp_prefix }}master" {
  name = "{{ openshift_gcp_prefix }}master"
  timeout_sec = 10
  check_interval_sec = 10

  https_health_check {
    port = "443"
    request_path = "/healthz"
  }
}

{% for n in range(openshift_gcp_zones|length if openshift_gcp_zones|length < t_master_count|int else t_master_count|int) %}
{%   if n < openshift_gcp_zones|length %}
{%     set t_master_zone = openshift_gcp_zones[n] %}
{%     set t_master_instance_group = openshift_gcp_prefix ~ 'master' ~ t_master_zone[-2:] %}
resource "google_compute_instance_group" "{{ t_master_instance_group }}" {
  name = "{{ t_master_instance_group }}"
  zone = "{{ t_master_zone }}"
  instances = [
{%     for i in range(t_master_count|int) %}
{%       if n == i % openshift_gcp_zones|length %}
    "${google_compute_instance.{{ openshift_gcp_prefix }}master-{{ i }}.self_link}",
{%       endif %}
{%     endfor %}
  ]
  named_port {
    name = "https"
    port = "443"
  }
}
{%   endif %}
{% endfor %}

resource "google_compute_region_backend_service" "{{ openshift_gcp_prefix }}master" {
  name = "{{ openshift_gcp_prefix }}master"
  protocol = "TCP"
  region = "{{ openshift_gcp_region }}"
  session_affinity = "NONE"
  timeout_sec = 30

{% for n in range(t_master_count|int) %}
{%   if n < openshift_gcp_zones|length %}
{%     set t_master_zone = openshift_gcp_zones[n] %}
{%     set t_master_instance_group = openshift_gcp_prefix ~ 'master' ~ t_master_zone[-2:] %}
  backend {
    group = "${google_compute_instance_group.{{ t_master_instance_group }}.self_link}"
  }
{%   endif %}
{% endfor %}

  health_checks = [
    "${google_compute_health_check.{{ openshift_gcp_prefix }}master.self_link}"
  ]
}

resource "google_compute_backend_service" "{{ openshift_gcp_prefix }}master-https" {
  name = "{{ openshift_gcp_prefix }}master-https"
  port_name   = "https"
  protocol = "HTTPS"
  session_affinity = "NONE"
  timeout_sec = 30

{% for n in range(t_master_count|int) %}
{%   if n < openshift_gcp_zones|length %}
{%     set t_master_zone = openshift_gcp_zones[n] %}
{%     set t_master_instance_group = openshift_gcp_prefix ~ 'master' ~ t_master_zone[-2:] %}
  backend {
    group = "${google_compute_instance_group.{{ t_master_instance_group }}.self_link}"
    balancing_mode = "RATE"
    max_rate_per_instance = "100"
  }
{%   endif %}
{% endfor %}

  health_checks = [
    "${google_compute_health_check.{{ openshift_gcp_prefix }}master.self_link}"
  ]
}

resource "google_compute_forwarding_rule" "{{ openshift_gcp_prefix }}master" {
  name = "{{ openshift_gcp_prefix }}master"
  backend_service = "${google_compute_region_backend_service.{{ openshift_gcp_prefix }}master.self_link}"
  labels = {
    openshift-cluster = "{{ cluster_name }}"
  }
  load_balancing_scheme = "INTERNAL"
  ports = [443]
  subnetwork = "${data.google_compute_subnetwork.{{ openshift_gcp_subnetwork_name }}.self_link}"
}

resource "google_compute_url_map" "{{ openshift_gcp_prefix }}master" {
  name = "{{ openshift_gcp_prefix }}master"
  description = "Masters for {{ cluster_name }}"
  default_service = "${google_compute_backend_service.{{ openshift_gcp_prefix }}master-https.self_link}"
}

resource "google_compute_ssl_certificate" "{{ openshift_gcp_prefix }}master" {
  name = "{{ openshift_gcp_prefix }}master"
  certificate = "${file("{{ openshift_master_named_certificates[0].certfile }}")}"
  private_key = "${file("{{ openshift_master_named_certificates[0].keyfile }}")}"

  lifecycle {
    create_before_destroy = true
  }
}

resource "google_compute_target_https_proxy" "{{ openshift_gcp_prefix }}master" {
  name = "{{ openshift_gcp_prefix }}master"
  ssl_certificates = ["${google_compute_ssl_certificate.{{ openshift_gcp_prefix }}master.self_link}"]
  url_map = "${google_compute_url_map.{{ openshift_gcp_prefix }}master.self_link}"
}

resource "google_compute_global_forwarding_rule" "{{ openshift_gcp_prefix }}master" {
  name = "{{ openshift_gcp_prefix }}master"
  ip_protocol = "TCP"
  labels = {
    openshift-cluster = "{{ cluster_name }}"
  }
  port_range = "443"
  target = "${google_compute_target_https_proxy.{{ openshift_gcp_prefix }}master.self_link}"
}

resource "google_dns_record_set" "{{ openshift_gcp_prefix }}master" {
  name = "{{ openshift_master_cluster_public_hostname }}."
  type = "A"
  ttl  = 300
  managed_zone = "${data.google_dns_managed_zone.{{ cluster_name }}.name}"
  rrdatas = ["${google_compute_global_forwarding_rule.{{ openshift_gcp_prefix }}master.ip_address}"]
}

resource "google_dns_record_set" "{{ openshift_gcp_prefix }}master-internal" {
  name = "{{ openshift_master_cluster_hostname }}."
  type = "A"
  ttl  = 300
  managed_zone = "${data.google_dns_managed_zone.{{ cluster_name }}.name}"
  rrdatas = ["${google_compute_forwarding_rule.{{ openshift_gcp_prefix }}master.ip_address}"]
}

output "master_ip" {
  value = "${google_compute_global_forwarding_rule.{{ openshift_gcp_prefix }}master.ip_address}"
}

output "master_ip_internal" {
  value = "${google_compute_forwarding_rule.{{ openshift_gcp_prefix }}master.ip_address}"
}

