#
# Network configuration
#

{% if openshift_gcp_create_network | bool %}
{%   include 'network-create.tf.j2' %}
{%   set t_network_name = "${google_compute_network." ~ openshift_gcp_network_name ~ ".name}" %}
{% else %}
{%   include 'network-data.tf.j2' %}
{%   set t_network_name = "${data.google_compute_network." ~ openshift_gcp_network_name ~ ".name}" %}
{% endif %}

{% if openshift_provision_gcp_manage_firewall | bool %}
{%   include 'network-firewall.tf.j2' %}
{% endif %}

{% if use_shared_public_load_balancer %}
{%   include 'network-load-balancer-shared-ip.tf.j2' %}
{%   set t_master_public_address = "${google_compute_global_address." ~ openshift_gcp_prefix ~ "public.address}" %}
{%   set t_router_address = "${google_compute_global_address." ~ openshift_gcp_prefix ~ "public.address}" %}
{% else %}
{%   include 'network-load-balancer-ips.tf.j2' %}
{%   set t_master_public_address = "${google_compute_global_address." ~ openshift_gcp_prefix ~ "master-public.address}" %}
{%   set t_router_address = "${google_compute_global_address." ~ openshift_gcp_prefix ~ "router.address}" %}
{% endif %}

{% if use_cloud_dns %}
{%   include 'network-cloud-dns.tf.j2' %}
{% endif %}
