#
# Provider for {{ component_name }}
#

terraform {
  backend "gcs" {
    bucket  = "{{ openshift_provision_gcp_terraform_state_bucket }}"
    prefix  = "{{ component_name }}"
  }
}

provider "google" {
  project = "{{ openshift_gcp_project }}"
  region = "{{ openshift_gcp_region }}"
}
