#
# Public Load Balancers
#

{% if use_shared_public_load_balancer %}
{%   include 'public-load-balancer-shared.tf.j2' %}
{% else %}
{%   include 'public-load-balancer-master.tf.j2' %}
{%   include 'public-load-balancer-router.tf.j2' %}
{% endif %}
