#
# Docker registry storage
#

data "google_service_account" "{{ registry_service_account_id }}" {
  account_id = "{{ registry_service_account_id }}"
}

resource "google_storage_bucket" "{{ registry_bucket_name }}" {
  name = "{{ registry_bucket_name }}"
  location = "{{ openshift_gcp_region }}"
  storage_class = "REGIONAL"
  force_destroy = true
  labels = {
    openshift-cluster = "{{ cluster_name }}"
  }
}

resource "google_storage_bucket_iam_binding" "{{ registry_bucket_name }}" {
  bucket = "${google_storage_bucket.{{ registry_bucket_name }}.name}"
  role = "roles/storage.objectAdmin"
  members = [
    "serviceAccount:${data.google_service_account.{{ registry_service_account_id }}.email}"
  ]
}
