terraform {
  backend "gcs" {
    bucket  = "{{ openshift_provision_gcp_terraform_state_bucket }}"
    prefix  = "router"
  }
}

provider "google" {
  project = "{{ openshift_gcp_project }}"
  region = "{{ openshift_gcp_region }}"
}

data "google_compute_network" "{{ openshift_gcp_network_name }}" {
  name = "{{ openshift_gcp_network_name }}"
  project = "{{ openshift_gcp_network_project }}"
}

{% for gcp_zone in gcp_zones %}
{%   set instance_group_name = openshift_gcp_prefix ~ 'router' ~ gcp_zone[-2:] %}
data "google_compute_instance_group" "{{ instance_group_name }}" {
  name = "{{ instance_group_name }}"
  zone = "{{ gcp_zone }}"
}
{% endfor %}

resource "google_compute_health_check" "{{ openshift_gcp_prefix }}router" {
  name = "{{ openshift_gcp_prefix }}router"
  timeout_sec = 10
  check_interval_sec = 10

  http_health_check {
    port = "1936"
    request_path = "/healthz"
  }
}

resource "google_compute_firewall" "{{ openshift_gcp_prefix }}router-http" {
  name = "{{ openshift_gcp_prefix }}router-http"
  network = "${data.google_compute_network.{{ openshift_gcp_network_name }}.name}"
  allow {
    protocol = "tcp"
    ports = ["80", "443"]
  }
  source_ranges = ["0.0.0.0/0"]
  target_tags = ["{{ openshift_gcp_prefix }}node-router"]
}

resource "google_compute_firewall" "{{ openshift_gcp_prefix }}router-stats" {
  name = "{{ openshift_gcp_prefix }}router-stats"
  network = "${data.google_compute_network.{{ openshift_gcp_network_name }}.name}"
  allow {
    protocol = "tcp"
    ports = ["1936"]
  }
  source_ranges = ["35.191.0.0/16", "130.211.0.0/22", "209.85.152.0/22", "209.85.204.0/22"]
  target_tags = ["{{ openshift_gcp_prefix }}node-router"]
}

resource "google_compute_backend_service" "{{ openshift_gcp_prefix }}router-http" {
  name = "{{ openshift_gcp_prefix }}router-http"
  port_name = "http"
  protocol = "HTTP"
  timeout_sec = 10

{% for gcp_zone in gcp_zones %}
{%   set instance_group_name = openshift_gcp_prefix ~ 'router' ~ gcp_zone[-2:] %}
  backend {
    group = "${data.google_compute_instance_group.{{ instance_group_name }}.self_link}"
  }
{% endfor %}

  health_checks = [ "${google_compute_health_check.{{ openshift_gcp_prefix }}router.self_link}" ]
}

resource "google_compute_backend_service" "{{ openshift_gcp_prefix }}router-https" {
  name = "{{ openshift_gcp_prefix }}router-https"
  port_name = "https"
  protocol = "HTTPS"
  timeout_sec = 10

{% for gcp_zone in gcp_zones %}
{%   set instance_group_name = openshift_gcp_prefix ~ 'router' ~ gcp_zone[-2:] %}
  backend {
    group = "${data.google_compute_instance_group.{{ instance_group_name }}.self_link}"
  }
{% endfor %}

  health_checks = [ "${google_compute_health_check.{{ openshift_gcp_prefix }}router.self_link}" ]
}
