#
# Service Accounts for node types and registry bucket
#

resource "google_service_account" "{{ master_service_account }}" {
  account_id = "{{ master_service_account }}"
  display_name = "{{ cluster_name }} master"
}

resource "google_project_iam_member" "{{ master_service_account }}-compute-admin" {
  role = "roles/compute.admin"
  member = "serviceAccount:${google_service_account.{{ master_service_account }}.email}"
}

resource "google_project_iam_member" "{{ master_service_account }}-iam-serviceAccountUser" {
  role = "roles/iam.serviceAccountUser"
  member = "serviceAccount:${google_service_account.{{ master_service_account }}.email}"
}

resource "google_service_account" "{{ node_service_account }}" {
  account_id = "{{ node_service_account }}"
  display_name = "{{ cluster_name }} node"
}

resource "google_project_iam_member" "{{ node_service_account }}-compute-viewer" {
  role = "roles/compute.viewer"
  member = "serviceAccount:${google_service_account.{{ node_service_account }}.email}"
}

resource "google_service_account" "{{ registry_service_account_id }}" {
  account_id = "{{ registry_service_account_id }}"
  display_name = "{{ cluster_name }} registry"
}

resource "google_service_account_key" "{{ registry_service_account_id }}" {
  service_account_id = "${google_service_account.{{ registry_service_account_id }}.name}"
  pgp_key = "{{ openshift_provision_gpg_pubkey }}"
  public_key_type = "TYPE_X509_PEM_FILE"
}

output "registry_service_account_key_encrypted" {
  value = "${google_service_account_key.{{ registry_service_account_id }}.private_key_encrypted}"
}
