#
# Terraform state GCS bucket
#

resource "google_storage_bucket" "{{ openshift_gcp_prefix }}terraform-state" {
  name = "{{ openshift_provision_gcp_terraform_state_bucket }}"
  project = "{{ openshift_gcp_project }}"
  location = "{{ openshift_gcp_region }}"
  storage_class = "REGIONAL"
  force_destroy = true
  labels = {
    openshift-cluster = "{{ cluster_name }}"
  }
}
