---
- name: Create openshift_provision_cluster_tls_dir
  file:
    path: "{{ openshift_provision_cluster_tls_dir }}"
    state: directory

- name: Create self-signed router cert
  include_tasks: router-cert.yml

# Router cert is used for masters when using a shared public load balancer
- when: not use_shared_public_load_balancer
  name: Create self-signed master public cert
  include_tasks: master-cert.yml
