---
apiVersion: v1
kind: List
items:
{% for type in ['pd-standard','pd-ssd'] %}
{%   for zone in openshift_gcp_zones %}
- apiVersion: storage.k8s.io/v1
  kind: StorageClass
  metadata:
    labels:
      type: {{ type }}
      zone: {{ zone }}
    name: gce-{{ type }}-{{ zone }}
  parameters:
    type: {{ type }}
    zone: {{ zone }}
  provisioner: kubernetes.io/gce-pd
  reclaimPolicy: Delete
{%   endfor %}
{% endfor %}
