---
apiVersion: v1
kind: Route
metadata:
  name: apiserver
spec:
  host: apiserver-kube-service-catalog.{{ openshift_master_default_subdomain }}
  port:
    targetPort: secure
  tls:
    termination: reencrypt
  to:
    kind: Service
    name: apiserver
    weight: 100
  wildcardPolicy: None
